.habilidades{
<<<<<<< HEAD
    width: 100%;
    height: auto;
}
.cards-habilidades{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.habilidades__titulo{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;

    padding: 0 1rem;
}

=======
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    height: auto;
}
.habilidades__titulo{
    display: flex;
    align-items: center;
}
>>>>>>> 5ecb725 (Se agrega la carpeta -> css/)
.habilidades__titulo--text{
    font-size: 25px;
    font-family: var(--font-main-2);
    color: var(--color-text-muted);
}

<<<<<<< HEAD
.habilidades__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-habilidades__titulo {
    font-size: x-large;
}
.habilidades__img{
    width: 50%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 1/1;
}   
=======

.habilidades__cards{
    
}


.habilidades__card {
    display: flex;
    gap: 1rem;
}
.habilidades__card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}
.habilidades__card-titulo {
    font-family: var(--font-main-2);
}
.habilidades__card-icon{
    width: clamp(100px, 15%, 400px);
    height: auto;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.habilidades__card-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.habilidades__card-titulo {
    color: var(--color-text-muted);
}
.habilidades__card-description {
    margin: 0;
}
>>>>>>> 5ecb725 (Se agrega la carpeta -> css/)
