.footer{
    scroll-margin-bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text-copyright{
    color: var(--color-text-muted);
    font-size: var(--font-size-base-links);
}