.header {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem 0;

    scroll-margin-top: 140px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero__titulo,
.hero__sub-titulo {
    margin: 0;
}

.hero__link {
    max-width: fit-content;

}