.hero {
    position: relative;
    scroll-margin-top: 160px;
    z-index: 1;

    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem 0;


}
.hero__sub-titulo{
    font-family: var(--font-main-2);
    color: var(--color-text-muted);
}
.hero__link {
    max-width: fit-content;
}