html{
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow: hidden;
    background-color: var(--color-bg);
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}  