
/* !Animacion del item de stats */
@keyframes blobShape{
  0%{
    border-radius: 55% 45% 60% 40% / 55% 50% 50% 45%;
  }
  33%{
    border-radius: 60% 40% 55% 45% / 60% 45% 55% 40%;
  }
  66%{
    border-radius: 50% 50% 65% 35% / 50% 60% 40% 50%;
  }
  100%{
    border-radius: 55% 45% 60% 40% / 55% 50% 50% 45%;
  }
}

@keyframes float{
  0%,100%{
    transform: translateY(0px) translateX(0);
  }
  30%{
    transform: translateY(-30px) translateX(15px);
  }
  60%{
    transform: translateY(30px) translateX(-15px);

  }
}


/* !Animacion del banner de imagenes en la seccion de proyects */

@keyframes banner {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  33%  { opacity: 1; }
  43%  { opacity: 0; }
  100% { opacity: 0; }
}
